.loader_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -44.36deg,
    rgb(0, 0, 0) 41.675%,
    rgba(0, 0, 0, 0) 130.042%
  );
  width: 100%;
  height: 100vh;
}

.loader {
  background: rgb(149, 81, 22);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1111;
}

.loader_item  svg{
 transform: scale(0.6) !important;
}

@media only screen and (max-width: 700px) {
  .loader_item  svg{
    transform: scale(0.3) !important;
   }
}
@media only screen and (max-width: 550px) {
  .loader_item  svg{
    transform: scale(0.2) !important;
   }
}