.home_page {
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%),
    url(../../assets/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 70px;
}
@font-face {
  font-family: Fundamental;
  src: url(./Fundamental\ Brigade\ Scvhlank.ttf);
}
.home_page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_header_title {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 100px;
  font-weight: 100;
  line-height: 120px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.header_btn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  padding: 25px 70px;
  background: rgba(255, 255, 255, 0.23);
  cursor: pointer;

  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 22.43px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
}

.header_vert_line {
  margin: 80px auto 24px;
  background: rgba(255, 255, 255, 0.699);
  height: 60px;
  width: 0.3px;
}
.scroll_btn p {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.history_live {
  background: linear-gradient(
    50.21deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 130.625%
  );
}
.history_live_wrapper {
  background: #63360f;
}
.our_history {
  padding-top: 140px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.our_history_left h1 {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 100px;
  font-weight: 100;
  line-height: 130%;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  padding-left: 48px;
}

.our_history_left .his_desc {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 275;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  max-width: 735px;
  padding-left: 48px;

  margin-bottom: 44px;
}
.history_counter {
  border-radius: 80px;

  background: linear-gradient(
    135.92deg,
    rgba(255, 255, 255, 0.2) 6.696%,
    rgba(255, 255, 255, 0) 66.13%
  );
  max-width: 733px;
  padding: 56px 0 56px 55px;
  display: flex;
  align-items: center;
  gap: 22px;
  margin-left: 48px;
}

.history_counter {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.our_history {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our_history_right {
  position: absolute;
  right: -9px;
}
.our_history_right img {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 298.35px;
}

.our_live {
  width: 100%;
}
.our_live h1 {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 100px;
  font-weight: 100;
  line-height: 130%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}
.our_live_line {
  width: 100%;
}

.events {
  background: #fff;
  max-width: 1440px;
  margin: 0 auto;
}
.events h1 {
  color: rgb(0, 0, 0);
  font-family: Fundamental;
  font-size: 100px;
  font-weight: 100;
  line-height: 130%;
  letter-spacing: 3%;

  text-transform: uppercase;
  padding: 48px 0 0 48px;
}

.events_line {
  width: 100%;
  margin: 27px 0;
}
.events_desc p {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 275;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding: 0 48px;
}

.events_cards_line svg {
  width: 100%;
}

.events_card {
  position: relative;
  max-width: 430px;
  width: 30%;
  border-radius: 8px;
  height: 405.6px;
  background: linear-gradient(
    138.44deg,
    rgba(0, 0, 0, 0.75) 17.707%,
    rgba(0, 0, 0, 0) 93.33%
  );
  transition: all 0.4s ease;

  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.events_card:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/event-1.png);
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;

  filter: brightness(0.5);
}
.events_card:nth-child(1):hover::before {
  filter: brightness(1);
  transition: all 0.4s ease;
  background-image: url(../../assets/images/event-1.png);
}
.events_card:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/event-2.png);
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;

  filter: brightness(0.5);
}
.events_card:nth-child(3):hover::before {
  filter: brightness(1);
  transition: all 0.4s ease;
  background-image: url(../../assets/images/event-2.png);
}

.events_card:nth-child(5)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/event-3.png);
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;

  filter: brightness(0.5);
}
.events_card:nth-child(5):hover::before {
  filter: brightness(1);
  transition: all 0.4s ease;
  background-image: url(../../assets/images/event-3.png);
}
.events_card_desc {
  transition: all 0.4s ease;
}
.events_card:hover .events_card_desc {
  transition: all 0.4s ease;
  transform: translateY(-100%);
}
.more_btn_events {
  position: relative;
  z-index: 11;

  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  padding: 0;
  width: 359.15px;
  height: 81.1px;
  margin-left: 36px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.23);
  transition: all 0.25s ease;
  transform: translateY(150%);
}
.events_card:hover .more_btn_events {
  transition: all 0.25s ease;

  transform: translateY(0);
  top: -100px;
}
.events_cards_wrapper {
  display: flex;
  align-items: self-start;
  gap: 12px;
  justify-content: center;
  margin-top: -43px;
  margin-left: -3px;
}
.events_card {
  cursor: pointer;
}
.events_card_line {
  width: 1px;
  height: 460px;
  background: rgba(0, 0, 0, 0.2);
}

.last_section {
  background: url(../../assets/images/map.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;

  padding-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
}

.last_section_wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.last_section_content div {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}
.last_section_content div p {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 275;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  padding-left: 20px;
  opacity: 0.6;
}

.last_section_content div svg {
  position: absolute;
  left: -45px;
  top: -25px;
}
.working_time p {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  opacity: 1 !important;
  text-transform: uppercase;
}
.last_section_route {
  width: 293px;
  height: 66.16px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.566);
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
  margin-top: 16px;

  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 22.43px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
}

.last_section_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 7px;
}
.last_section_footer p {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 16px;
  font-weight: 100;
  line-height: 130%;
  letter-spacing: 3%;
  text-align: left;
}
.events_card_desc {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
}
.events_card_desc_wrapper p {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 275;
  line-height: 175%;
  letter-spacing: 4%;
  opacity: 0.8;
  text-align: left;
  text-transform: uppercase;
}
.events_card_desc_wrapper span {
  opacity: 0.9;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 275;
  line-height: 130%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.history_line_2 {
  width: 1014px;

  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 66px;
  margin-bottom: 40px;
}
.our_history_right svg {
  display: none;
}
.our_live_line_mob {
  display: none;
}
.mob_line {
  display: none;
}

@media only screen and (max-width: 1430px) {
  .history_line_2 {
    width: 100%;
  }
  .last_section_wrapper {
    padding-left: 48px;
  }
}

@media only screen and (max-width: 1220px) {
  .our_history {
    flex-direction: column;
  }
  .our_history_right {
    position: static;
    padding-top: 30px;
  }
  .history_line_2 {
    display: none;
  }
  .history_line_1 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .mob_line {
    display: block;
  }
  .desc_line {
    display: none;
  }
  .home_header_title {
    color: rgb(255, 255, 255);

    font-size: 42px;
    font-weight: 100;
    line-height: 121.88%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .home_page {
    padding-top: 130px;
  }
  .header_btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 16px 50px;
  }

  .our_history {
    padding-top: 43px;
  }
  .our_history_left h1 {
    font-size: 42px;
    font-weight: 100;
    line-height: 121.88%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 15px;
  }
  .history_line_1 {
  }
  .our_history_left .his_desc {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 275;
    line-height: 175%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .history_counter {
    margin: 0;
    align-items: start;
    padding: 20px 10px;
    border-radius: 0;
    gap: 0;
  }
  .history_counter svg {
    transform: scale(0.6);
  }
  .history_counter p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
  }
  .our_history_right img {
    display: none;
  }
  .our_history_right svg {
    display: block;
  }
  .our_history_right {
    padding-top: 0;
  }
  .our_live h1 {
    color: rgb(255, 255, 255);

    font-size: 42px;
    font-weight: 100;
    line-height: 121.88%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .our_live_line_mob {
    display: block;
  }
  .our_live_line {
    display: none;
  }
  .events h1 {
    font-size: 42px;
    font-weight: 100;
    line-height: 121.88%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    padding: 42px 0 0 15px;
  }
  .events_line_mob {
    margin: 0;
    width: 100%;
    margin-bottom: 5px;
  }
  .events_desc p {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 275;
    line-height: 175%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
    padding: 0 15px;
    margin: 0;
  }
  .events_cards_line {
    display: none;
  }
  .events_cards_wrapper {
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
    padding: 0 15px;
    padding-bottom: 48px;
  }
  .events_card {
    width: 100%;
    height: 330px;
  }
  .events_card_line {
    height: 1px;
    width: 100%;
  }
  .more_btn_events {
    width: 100%;
    margin: 0 auto;
    height: 50px;
    padding: 0;
  }
  .events_card:hover .more_btn_events {
    top: -70px;
  }

  .last_section {
    background: linear-gradient(
        181.17deg,
        rgb(0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 48.922%
      ),
      url(../../assets/images/map-mobile.png);
    padding-bottom: 33px;
    height: 890px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
  }
  .last_section_wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .last_section_content .working_time p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
  }
  .last_section_route, .last_section_content  {
    width: 100%;
  }
  .last_section_route {
    background: #000;
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 100px;
opacity: 1;

  }
}
