.home_page {
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%),
    url(../../assets/images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 70px;
}
@font-face {
  font-family: Fundamental;
  src: url(./Fundamental\ Brigade\ Scvhlank.ttf);
}
.home_page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_header_title {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 100px;
  font-weight: 100;
  line-height: 120px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.header_btn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  padding: 25px 70px;
  background: rgba(255, 255, 255, 0.23);
  cursor: pointer;

  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 22.43px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
}

.header_vert_line {
  margin: 80px auto 24px;
  background: rgb(255, 255, 255);
  height: 60px;
  width: 0.3px;
}
.scroll_btn p {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}
