nav {
  width: 100%;
  padding: 24px 0 20px;
  border-bottom: 1px solid rgba(92, 97, 104, 0.504);
  position: fixed;
  top: 0;
  z-index: 111;
}
.nav_wrapper {
  /* max-width: 1350px; */
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#filled_nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.9248949579831933) 53%,
    rgba(0, 0, 0, 0.499124649859944) 100%
  );
}
.nav_socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lang_toggler div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.lang_toggler div p {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 275;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav_menu_btn svg {
  cursor: pointer;
}

.nav_menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 11;

  transition: all 0.6s ease;
  transform: translateY(-1000px);
}
.nav_menu_visible {
  transition: all 0.6s ease;
  transform: translateY(0);
  top: 99px;
}
.nav_menu_top_bar {
  padding: 30px 48px;
  border-bottom: 1px solid rgba(92, 97, 104, 0.504);
  display: flex;
  align-items: center;
  gap: 110px;
}
.nav_menu_top_bar .header_btn {
  margin: 0;
}
.nav_menu_top_bar p {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 140px;
  font-weight: 100;
  line-height: 168px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.nav_menu_top_bar button {
  text-transform: uppercase;
}

.nav_menu_links {
  padding-left: 48px;
  padding-top: 60px;
}
.nav_menu_links p {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 50px;
  font-weight: 100;
  line-height: 60px;
  letter-spacing: 0%;
  opacity: 0.3;
  margin-bottom: 32px;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.nav_menu_links p:hover {
  transition: all 0.4s ease;
  opacity: 0.7;
}
.nav_menu_links a {
  text-decoration: none;
}

.visible_navigation {
  background: #000;
}

@media only screen and (max-width: 1180px) {
  .nav_menu_top_bar {
    align-items: flex-start;
    flex-direction: column;
    gap: 13px;
  }
}
@media only screen and (max-width: 800px) {
  .nav_menu_top_bar {
    padding: 18px 15px 24px;
  }
  .nav_menu_links {
    padding: 22px 15px;
  }
  .nav_menu_top_bar p {
    font-size: 50px;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 0%;

    text-transform: uppercase;
  }
  .nav_menu_top_bar button {
    padding: 15px 50px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .nav_menu_links p {
    font-size: 36px;
    font-weight: 100;
    line-height: 43px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 600px) {
  .nav_wrapper {
    padding: 0 0 0 16px;
  }
  nav {
    padding: 10px 0;
  }
  .nav_socials {
    gap: 0;
  }
  .nav_socials svg {
    transform: scale(0.8);
  }
  .nav_logo svg {
    width: 120px;
  }
  .lang_toggler div {
    gap: 0;
  }
  .lang_toggler div p {
    font-size: 12px;
  }
  .lang_toggler svg,
  .nav_menu_btn svg {
    transform: scale(0.5);
  }
  .nav_right {
    gap: 0px;
  }
  .lang_toggler {
    display: flex;
    align-items: center;
  }

  .nav_menu_top_bar button {
    width: 100%;
  }
  .nav_menu_visible {
    top: 73px;
  }
}
