nav {
  width: 100%;
  padding: 24px 0 20px;
  border-bottom: 1px solid rgba(92, 97, 104, 0.504);
  position: fixed;
  top: 0;
  z-index: 111;
}
.nav_wrapper {
  /* max-width: 1350px; */
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lang_toggler div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.lang_toggler div p {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 275;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav_menu_btn svg {
  cursor: pointer;
}

.nav_menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 11;

  transition: all 0.6s ease;
  transform: translateY(-120%);
}
.nav_menu_visible {
  transition: all 0.6s ease;
  transform: translateY(0);
  top: 99px;
}
.nav_menu_top_bar {
  padding: 30px 48px;
  border-bottom: 1px solid rgba(92, 97, 104, 0.504);
  display: flex;
  align-items: center;
  gap: 110px;
}
.nav_menu_top_bar .header_btn {
  margin: 0;
}
.nav_menu_top_bar p {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 140px;
  font-weight: 100;
  line-height: 168px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.nav_menu_links {
  padding-left: 48px;
  padding-top: 60px;
}
.nav_menu_links p {
  color: rgb(255, 255, 255);
  font-family: Fundamental;
  font-size: 50px;
  font-weight: 100;
  line-height: 60px;
  letter-spacing: 0%;
  opacity: 0.3;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.nav_menu_links a {
  text-decoration: none;
}

.visible_navigation {
  background: #000;
}
