@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.hover_btn_icon {
  transition: all 0.4s ease;
}
.hover_btn_icon:hover {
  transition: all 0.4s ease;
  opacity: 0.7;
}